.menu-bar {
    -fx-background-color: #2e495c;
    -fx-spacing: 0.5em;
    -fx-padding: 0.5em;
}

.menu:openvertically {
    -fx-background-color: #3D7778;
}

.menu:openvertically > .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.3em;
}

.menu:openvertically > .label:hover {
    -fx-text-fill: #bbbbbb;
}

.context-menu {
    -fx-text-fill: #ffffff;
    -fx-background-color: #2e495c;
    -fx-padding: 0.5em;
}

.menu-item > .label {
    -fx-font-size: 1.1em;
    -fx-text-fill: #ffffff;
}

.menu-item:focused {
    -fx-background-color: #006872;
}


.tab-header-background {
    -fx-background-color: #145483;
}


.tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.2em;
}

.tab {
    -fx-background-color: #2e495c;
    -fx-pref-height: 3em;
    -fx-alignment: CENTER;
}

.tab-content-area {
    -fx-pref-height: 9000px;
}

.tab:selected {
    -fx-background-color: #3D7778;
}

.tab:selected .focus-indicator {
    -fx-border-width: 0;
}

.tab:selected > .tab-container > .tab-close-button {
    -fx-background-color: #ffffff;
}

#modeContainer {
    -fx-alignment: center-left;
    -fx-min-height: 6em;
    -fx-spacing: 1.5em;
    -fx-padding: 0 0 0 8em;

    -fx-background-color: #2e495c;
}

#modeContainer > .button {
    -fx-background-color: #3D7778;
    -fx-border-width: 0px;

    -fx-text-fill: #ffffff;
    -fx-font-size: 1.5em;
}

#gridPane {
    -fx-background-color: #145483;
    -fx-padding: 0.5em;
    -fx-hgap: 0.5em;
}

#scrollPane {
    -fx-background-color: #2e495c;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}


#wordsGrid {
    -fx-background-color: #2e495c;
    -fx-hgap: 6em;
    -fx-vgap: 0.9em;
}

#wordsGrid > .label {
    -fx-font-size: 1.3em;
    -fx-text-fill: #ffffff;
}

#wordButton {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#textArea {
    -fx-control-inner-background: #2e495c;
    -fx-background-color: #2e495c;
    -fx-effect: null;
    -fx-padding: 0px;
    -fx-font-size: 1.3em;
}


.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
    -fx-padding: 0 0 0 0;
}

.scroll-bar:vertical {
    -fx-pref-width: 1.2em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #3D7778;
}

.scroll-bar:vertical .track {
    -fx-background-color: #88aaab;
}

.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0 0 0 0;
}
