.root {
    -fx-background-color: #2b2b2b;
    -fx-border-radius: 0;
    -fx-faint-focus-color: #2b2b2b;
    -fx-focus-color: #2b2b2b;
}

#tabPane {

    -fx-background-color: #3C3F41;
}

#textArea {
    -fx-control-inner-background: #2b2b2b;
    -fx-text-fill: #A9B7C6;
    -fx-border-radius: 0px;
    -fx-padding: -4px;
    -fx-background-insets: 10;
    -fx-effect: null;

    -fx-border-width: 3px;
    -fx-border-color: #515151 #515151 #515151 transparent;
}

#textArea.content {
    -fx-background-color: #2b2b2b;
    fx-background-radius: 0;
}

#button_commands {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#darkMode_header_modeButton {
    -fx-background-color: #3E869E;
    -fx-background-radius: 20px;
    -fx-border-color: #222222;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-background-insets: 2px;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
    -fx-color: #555555;
}

#darkMode_center_scrollPane {

    -fx-background: #3C3F41;
    -fx-text-fill: #BBBBBB;
    -fx-border-width: 2px;
    -fx-border-color: #515151;

}

.menu-bar {
    -fx-background-color: #555555;
}

.menu-bar .context-menu {
    -fx-background-color: #555555;
}

.menu {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
    -fx-color: #555555;
}

.menu:hover {
    -fx-background-color: #00a8ff;
}

.menu-item {
    -fx-background-color: #555555;
}

.menu-item:focused {
    -fx-background-color: #00a8ff;
}

.tab-pane {
    -fx-open-tab-animation: GROW;
    -fx-close-tab-animation: GROW;
}

.tab-pane .tab-header-background {
    -fx-background-color: #2b2b2b;
    -fx-effect: null;

}

.tab {
    -fx-background-color: #3C3F41;
    -fx-color: #ffffff;
    -fx-text-base-color: #ffffff;
    -fx-font-family: Symbol;
    -fx-font-size: 110%;
}

.tab:selected {
    -fx-background-color: #555555;
    -fx-text-fill: #ffffff;
}